[Unit]
Description=HTTPS socket for Traefik Production
After=network.target

[Socket]
ListenStream=0.0.0.0:443
# ListenDatagram= # UDP
FileDescriptorName=websecure
FreeBind=true
NoDelay=true
Service=traefik-prod.service

[Install]
WantedBy=sockets.target 