[Unit]
Description=Whoami Test Service
After=traefik-test.service
Wants=traefik-test.service
Documentation=https://github.com/traefik/whoami

[Container]
AutoUpdate=registry
ContainerName=whoami-test
Image=docker.io/traefik/whoami:latest
SecurityLabelDisable=true

LogDriver=journald
LogOpt=tag=whoami-test

# Network
Network=traefik

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target